<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tiles.css">
    <link rel="icon" type="image/x-icon" href="stone_soup_icon-48x48.png">
    <title>Tiles</title>
</head>

<body>
    <div id="container">
        <canvas id="gameCanvas" width="1000" height="562"></canvas>
    </div>
    <script src="tiles.js"></script>
</body>

</html>