@font-face {
    font-family: 'DejaVuSansMono';
    src: url('./DejaVuSansMono.woff2');
}

body {
    font-family: 'DejaVuSansMono';
    background-color: blue;
    overflow: hidden;
}

#characterCanvas {
    position: absolute;
    z-index: 10;
    background-color: none;

}

#backgroundCanvas {
    position: absolute;
    z-index: 5;
    background-color: aquamarine;
}

#container {
    position: absolute;
    width: 1500px;
    height: 843px;
}