@font-face {
    font-family: 'DejaVuSansMono';
    src: url('./DejaVuSansMono.woff2');
}

body {
    font-family: 'DejaVuSansMono';
    background-color: blue;
    overflow: hidden;

}

#characterCanvas {
    position: absolute;
    z-index: 10;
    background-color: none;
    image-rendering: pixelated;

}

#backgroundCanvas {
    position: absolute;
    z-index: 5;
    background-color: aquamarine;
    image-rendering: pixelated;

}

#container {
    position: absolute;
    width: 1000px;
    height: 500px;
}